@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.password-recovery-container {
  font-size: 'Roboto', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 450px;
  height: 550px; /* Mismo tamaño que login-container */
  display: flex;
  flex-direction: column;
}

.password-recovery-title {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px; /* Ajustado margen superior */
}

.label-correo-asociado{
  display: flex;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.contenedor-correo{
  display: flex;
  justify-content: center; /* Alinea horizontalmente al centro */
  align-items: center; /* Alinea verticalmente al centro si es necesario */
}

.contenedor-correo input {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  height: 50px;
  border-radius: 6px;
  padding: 0px 10px;
  border: 2px solid #E5D8C8;
  background: transparent;
  color: #000000;
  outline: none;
  font-size: 20px;
  text-align: center;
  margin-bottom: 130px;
}

.contenedor-correo label {
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 50%; /* Inicialmente centrado respecto al input */
  left: 9%; 
  transform: translateY(-50%); /* Centrado verticalmente respecto a su propia altura */
  color: black;
  font-size: 20px;
  pointer-events: none;
  transition: .3s;
  z-index: 0; /* Asegura que el label esté en un nivel inferior */
}

.contenedor-correo input:focus {
  border: 2px solid #c62426;
}

.button-container-recovery {
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.password-recovery-button {
  margin-top: -15px;
  margin-bottom: 20px;
  width: calc(50% - 20px); 
  padding: 12px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #c62426;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}


.password-recovery-button:hover {
  background-color: #c62426;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  box-shadow:
   0 10px 15px -3px rgb(0, 0, 0/ 0.1),
   0 4px 6px -4px rgb(0, 0, 0/ 0.1);
}

/*
ANIMACION DE CARGA
*/
.loading-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #333; /* Color del spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Animación */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.errorMessage{
  margin-left: 15px;
  color: #c62426;
  margin-top: -10px; 
}