.table-imagesA-admin {
  align-items: inherit; /* Esto alinea verticalmente los contenidos */

}

.h2green-bed-imageA, 
.h4farmer-bed-imageA {
  color: #05073C;
  width: 100%;
  margin-left: 16px;
  margin-bottom: 5px;
}

.h2bed{
  color: #05073C;
  font-size: medium;
}

.only-table-imageA {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(165, 157, 157, 0.123);
  margin-top: 20px;
  margin-left: 10px;
}

.title-and-search-imageA {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  margin-bottom: 10px; /* Ajusta el margen inferior */
}

.description-imagesA {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

.header-table-imagesA {
  display: flex;
  align-items: center;
}

.icon-ImageA {
  margin-right: 10px;
  color: #c62426;
}

.search-ImageA {
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  width: 150px;
}

.search-ImageA:focus {
  border-color: #2f31758e;
}

.image-uploader {
  margin-left: 20px;
  align-content: center;
  border: 2px dashed #c62426;
  border-radius: 8px;
  height: auto;
  text-align: center;
  flex: 0 0 auto;
}

.image-uploader-container {
  height: auto;
  padding: 40px;
  margin-top: 3%;
}




/* Nueva clase para el contenedor de la tabla y el image-uploader */
.content-container {
  display: flex;
}


.buttonImage{
  padding: 10px 15px;
  color: white;
  background-color: #c62426;
  border: 2px solid #c62426;
  border-radius: 10px;
  margin: 10px;
}