.table-worker-farmer {
  margin-top: 10px;
  overflow-x: auto;
  max-width: 100%;
  max-height: 100%;
}

.h2green-bed-worker, 
.h4worker-bed-worker {
  color: #05073C;
  width: 100%;
  margin-left: 16px;
  margin-bottom: 5px;
}

.container-farm-far {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(165, 157, 157, 0.123);
  margin-left: 10px;
  width: calc(100% - 20px); /* Ajusta el ancho para evitar desbordamiento */
  max-width: 100%; /* Evita que se corte horizontalmente */
}

.title-farm-search-worker {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  margin-bottom: 10px; /* Ajusta el margen inferior */
}

.description-worker-farm {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

.header-table-worker-ad-farm{
  display: flex;
  align-items: center;
}

.icon-worker-f{
  margin-right: 10px;
  color: #c62426;
}

.search-worker-f{
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 150px;
    padding-left: 20px;
}

.search-worker-f:focus {
  border-color: #c62426;
}

.edit-icon {
  margin-right: 5px; /* Ajusta la separación entre el icono de editar y el de eliminar */
  justify-content: center;
  color: #c62426;
  transform: scale(1, 1);
  cursor: pointer;
}

.delete-icon {
  margin-left: 5px; /* Ajusta la separación entre el icono de eliminar y otros elementos */
  justify-content: center;
  color: #c62426;
  transform: scale(1, 1);
  cursor: pointer;
}


.verInvernaderos-button {
  background: #c62426;
  color: #fff;
  border: none;
  cursor: pointer;
  align-items: right;
  margin-left: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 15x;
}

.h2farmer {
  margin-left: 20px;
  margin: 10px;
  margin-bottom: 15px;
  font-size: 30px;
}

.rol-farmer {
  color: #c62426;
  font-size: 30px;
}

.button-worker-farm {
  width: 165px;
  padding: 12px;
  color: white;
  background-color: #c62426;
  border: 2px solid #c62426;
  border-radius: 10px;
  cursor: pointer;
}
